aioredis==1.3.1
aiosmtplib==1.1.6
anyio==3.1.0
asgiref==3.3.4
async-timeout==3.0.1
blinker==1.4
certifi==2021.5.30
click==8.0.1
dnspython==2.1.0
email-validator==1.1.3
fakeredis==1.5.2
fastapi==0.65.2
fastapi-mail==0.3.7
h11==0.12.0
hiredis==2.0.0
httpcore==0.13.6
httpx==0.18.2
idna==3.2
Jinja2==3.0.1
MarkupSafe==2.0.1
pydantic==1.8.2
python-multipart==0.0.5
redis==3.5.3
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
starlette==0.14.2
typing-extensions==3.10.0.0
uvicorn==0.14.0
